html {
    height:100%
  }
      h1 {
    color : white;
      }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  h2, p {
    margin: 10px;
  }
  
  .title {
      -webkit-text-stroke: 1.5px #FF6600;
      position: absolute;
      left: 0;
      padding-left: 25px;
      font-size: 290%;
      margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    text-decoration: none;
    font-size: 30px;
  }
  
  ul li a:hover {
    background-color: #FF6600;
    font-size: 45px;
  }
  
  ul li a:active {
      border-style: solid;
      border-color: white;
  }
  body {
      background-image: url('d078968bc905921e539a6f954e1e2ca1.jpg');
      background-repeat: no-repeat;
      background-size: 1600px 620px;
  }
  h3 {
    color: white;
  }
  .etusivu {
    position: absolute;
  }
  
  .teksti {
    position: relative;
    top: 10%;
    left: 3%;
    font-size: 36px;
    width: 25%;
  
    float:left;
  }
  
  .teksti1 {
    position: relative;
    top: 10%;
    right: 3%;
  
    width: 40%;
    height: 5%;
    overflow: inherit;
  
    float:right;
    font-size: 24px;
  }
  
  .nappi {
    position: relative;
    top: 19%;
    left: 3%;
  
    border: none;
    width: 18%;
    height: 8%;
    font-size: 155%;
    padding: 8px;
    border-radius: 12px;
  
    background-color:#FF6600;
    color: white;
  }
  
  .nappi:active {
    border-style: solid;
    border-color: white;
  }
  
  .miks {
    color:white;
    position: relative;
    top: 25%;
    left: 3%;
    width: 25%;
    height: 20%;
    font-size: 23px;
  }
  .teksti2 {
    position: relative;
    top: 15%;
    right: 3%;
    width: 40%;
    height: 30%;
    overflow: inherit;
  
    float: right;
    font-size: 23px;
  }
  .palvelut {
    position: relative;
    top: 47%;
    left: 5%;
    font-size: 67px;
    color: rgb(255, 255, 255);
  
    width: 20%;
  }
  body {
    background-color: 2C2C2C;
  }
  .palvelut1 {
    position: relative;
    top: 28%;
    left: 5%;
    font-size: 23px;
    height: 30%;
    width: 80%;
    overflow:hidden;
  }
  .palvelu1 {
    position: relative;
    background-color: B1AEAE;
    width: 20%;
    height: 50%;
    float: left;
    margin-top: 8%;
    margin-left: 4%;
    text-align: center;
    overflow-x: inherit;
    color: black;
    overflow: hidden;
  }
  
  .palvelu1 h3 {
    color: black;
    font-size: 17px;
  }
  .palvelu2 {
    position: relative;
    background-color: B1AEAE;
    width: 20%;
    height: 50%;
    float: left;
    margin-top: 8%;
    margin-left: 4%;
    text-align: center;
    overflow-x: inherit;
    color: black;
  }
  .palvelu2 h3 {
    color: black;
    font-size: 17px;
  }
  .Osaaminen {
    position: relative;
    font-size: 67px;
    padding-left: 4%;
    color: white;
    margin-top: 32%;
    -webkit-text-stroke: 1.5px #FF6600;
  }
  .osaaminen1 {
    width: 60%;
    text-align: center;
    font-size: 30px;
  }
  .web {
    position: relative;
    color: white;
    font-size: 28px;
    margin-left: 19%;
    margin-top: 4%;
  }
  .web1 {
    position: absolute;
    background-color: D9D9D9;
    width: 40%;
    height: 60%;
    margin-left: 6%;
    border-radius: 8px;
    text-align: center;
    margin-top: 2%;
  }
  .web1 h3 {
    color: black;
    font-size: 17px;
  }
  .word {
    position: absolute;
  color: white;
  font-size: 28px;
  margin-left: 63%;
  margin-top: 4%;
  }
  .wordpress {
    position: absolute;
    width: 40%;
    height: 35%;
    margin-left: 55%;
    background-color: D9D9D9;
    border-radius: 8px;
    margin-top: 2%;
  }
  .wordpress h3 {
    color: black;
    text-align: center;
    font-size: 17px;
  }
  .koko {
    color: white;
    margin-top: 20%;
    margin-left: 50%;
    position: absolute;
    width: 50%;
    font-size: 25px;
  }
  .lista {
    position: relative;
    color: white;
    margin-top: 32.5%;
    margin-left: 6%;
    font-size: 23px;
  }
  .yhteystiedot {
    font-size: 67px;
    text-align: center;
    margin-top: 5%;
  }
  .yhteydenottolomake {
    background-color: D9D9D9;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 8px;
    overflow: inherit;
  }
  .yhteydenottolomake h2 {
    font-size: 25px;
    width: 50%;
    margin-left: 3%;
  }
  .formi {
    position: absolute;
    margin-left: 650px;
    width: 250px;
    margin-bottom: 100px;
  }
  .formi2 {
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    width: 250px;
    height: 150px
   }
  .viesti {
  width: 400px;
  height: 550px;
  }
  .linkit {
    position: relative;
    margin-left: 5%;
    margin-bottom: 90%;
  }

  .linkki3 {
    color: gray;
    transition: color 0.2s;
    margin-left: 15%;
  }
  .linkki3:hover {
    color: black;
  }
  .linkki2 {
    color: gray;
    transition: color 0.2s;
    margin-left: 10%;
  }
  .linkki2:hover {
    color: black;
  }
  .linkki1 {
    color: gray;
    transition: color 0.2s;
    margin-left: 5%;
    margin-bottom: 20%;
  }
  .linkki1:hover {
    color: black;
  }
  #tekstialue {
    resize: none;
    width: 300px;
    height: 100px;
  }
  .ura1 {
    border-radius: 8px;
    background-color: D9D9D9;
    width: 70%;
    height: 70%;
    margin-left: 15%;
  }
  .ura1 h3 {
    color: black;
    text-align: center;
    font-size: 35px;
  }
  .ura {
    font-size: 67px;
    margin-left: 38%;
    -webkit-text-stroke: 1.5px #FF6600;
    margin-top: 5%;
  }
  input[type=text] {
    border-radius: 2px;
    padding: 3px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 3px solid #FF6600;
  }
  #go-to-top-button {
    position: fixed;
    bottom: 20px;
    background: #FF6600;
    color: white;
    margin-left: 5%;
    border-radius: 4px;
    padding: 10px 20px;
  }